@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*start of actual css stuff*/

html {
	background-image: url("../img/watercolor.png");
	background-image: url("../img/memphis-colorful.png");
	background-blend-mode: soft-light;
	
	background-color: rgba(217,210,214,1); 
	
}

#wrapper, #about, #resume, #contact, h1{
	margin-bottom: 40px;
}

/*header*/

header, #footer{
	background-color: rgba(237,231,239,0.75);
	text-align: center;
}

header {
	height: 70px;
	width: 100%;
}

nav {
	display: inline-block;
	align-content: center;
}

.dropbtn, .dropbtn2 {
	background-color: rgba(237,231,239,0.2);
	color: black;
	padding: 15px;
	font-size: 16px;
	margin-top: 0px;
	border: none;
	min-width: 160px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.dropdown, .dropdown2{
	position: relative;
	display: inline-block;
	margin: 10px 285px;
}

.dropdown-content, .dropdown-content2 {
	display: none;
	position: absolute;
	background-color: #ede7ef;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ede7ef;
	background-color: #fefaff;
}

.dropdown-content2 a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content2 a:hover {
	background-color: #ede7ef;
	background-color: #fefaff;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown2:hover .dropdown-content2 {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #480138;
	color: white;
}

.dropdown2:hover .dropbtn2 {
	background-color: #480138;
	color: white;
}

img.headlogo {
	width: 60px;
	height: 60px;
	position: absolute;
	margin-top: 5px;
	margin-left: -30px;
}

p.header {
	color: black;
	padding: 5px;
	margin: 0px;
	text-decoration: none;
	text-align: center;
	display: block;
}

/*main*/

#wrapper {
	width: 1080px;
	/*background-color: rgba(217,210,214,1);*/
	overflow: hidden;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	
}

#intro {
	display: inline-block;
	width: 1080px;
	border-bottom: 1px solid grey;
	padding-bottom: 40px;
	background-color: inherit;
}

#about, #resume {
	width: 1080px;
	border-bottom: 1px solid grey;
	padding-bottom: 40px;
}

p.about /*paragraph on the home page*/ {
	text-align: left;
	font-size: 20px;
	float: left;
	margin-top: 15px;
	margin-right: 20px;
	width: 900px;
}

p.aboutme /*paragraph on the about page*/{
	font-size: 16px;
}

img.rain {
	margin-top: 20px;
}

p.caption {
	margin-bottom: 20px;
	text-align: center;
}

#portfolio {
	width: 1080px;
	height: 600px;
	margin-top: 40px;
	text-align: center;
}

.project {
	float: left;
	padding: 10px;
	width: 330px;
	height: 240px;
	text-align: center;
	margin: 5px;
}

img.thum {
	width: 320px;
	height: 180px;
	margin-bottom: 10px;
}

.music {

}

/*resume*/

#resume {
	
}

dl {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}

ul {
	margin-bottom: 20px;
	list-style-type: disc;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

li, li.description {
	color: #1F323D;
	font-size: 15px;
	margin-left: 2em;
	margin-bottom: 6px;
}

li.description {
	margin-left: 3.2em;
	list-style-type: circle;
}

/*contact*/

#contact {
	width: 1080px;
}

.mycontact {
	width: 1080px;
	height: 30px;
}

.contactlinks {
	float: left;
	width: 270px;
	height: 20px;
	margin-bottom: 20px;
	text-align: center;
}

img.imagelink {
	margin-right: 100px;
}

.contactbox {
	background-color: #EDE7EF;
	width: 1060px;
	height: 200px;
	padding-top: 20px;
	padding-left: 20px;
	border-radius: 25px;
	margin-top: 35px;
}

.contactinfomessage {
	float: right;
}

input[type=text], select, textarea {
	border-radius: 5px;
	border: 0.5px solid black;
	margin-top: 5px;
	margin-bottom: 12px;
}

input[type=submit] {
	background-color: #480138;
	border-radius: 5px;
	color: white;
}

/*generic*/

h1 {
	color: #480138;
	text-align: center;
	font-size: 36px;
	font-family: 'Satisfy', cursive;
	font-weight: 500;
	padding-top: 5px;
}

h2 {
	color: #480138;
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
	font-family: 'Indie Flower', cursive;
	font-weight: 600;
}

h3 {
	color: #480138;
	font-size: 20px;
	font-family: 'Indie Flower', cursive;
	font-weight: 500;
	margin-bottom: 10px;
}

p {
	color: #1F323D;
	margin-bottom: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

p.description {
	margin-bottom: 10px;
}

/*portfolio general*/

#aki {
	border-bottom: 1px solid grey;
	padding-bottom: 20px;
	width: 1080px;
	height: 820px;
}

#engram {
	border-bottom: 1px solid grey;
	padding-bottom: 20px;
	width: 1080px;
	height: 880px;
}

#sweetspot {
	border-bottom: 1px solid grey;
	padding-bottom: 50px;
	width: 1080px;
	height: 1460px;
}

#toobit {
	border-bottom: 1px solid grey;
	padding-bottom: 20px;
	width: 1080px;
	height: 1510px;
}

#films {
	border-bottom: 1px solid grey;
	padding-bottom: 20px;
	width: 1080px;
	height: 1000px;
}

.gameplay {
	width: 1080px;
	text-align: center;
}

iframe.gameplay {
	width: 1080px;
	height: 607.5px;
}

img.portfolio
{
	width: 500px;
	height: 281.25px;
	margin: 18px 18px 0px 18px;
}

p.portcap {
	text-align: center;
	margin: 5px 0px 20px 0px;
	font-size: 12px;
}

.musicalign {
	width: 1080px;
	height: 220px;
}

.music {
	text-align: center;
	float: left;
	width: 350px;
	margin: 5px;
}

h3.caption { /*caption for music video*/
	color: #480138;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

.gif {
	float: left;
	padding: 0px 2px;
	margin: 0px 5px 5px 5px;
	text-align: center;
}

img.gif {
	width: 240px;
	height: 160px;
	margin-bottom: 15px;
}

.toobitgifalign {
	width: 1080px;
	height: 310px;
}

.toobitgif {
	float: left;
	margin: 0px 32px 5px 32px;
	text-align: center;
}

img.toobitgif {
	width: 240px;
	height: 240px;
	margin-bottom: 0px;
	margin-top: 25px;
}

description {
	margin-top: 20px;
}

.column {
	float: left;
	width: 350px;
	margin: 30px 5px 5px 0px;
	text-align: left;
}

h2.port {
	margin-bottom: 10px;
	text-align: left;
	color: #480138;
	font-size: 25px;
}

.film {
	width: 1080px;
	text-align: center;
	
}

iframe.film {
	width: 1080px;
	height: 607.5px;
	margin-bottom: 20px;
}

h3.film {
	margin-bottom: 20px;
}

p.film {
	padding-bottom: 20px;
	margin-bottom: 40px;
	border-bottom: 1px solid grey;
}
p.last {
	margin-bottom: 0px;
	border-bottom: none;
}

/*links and images*/

a:link {
	color: inherit;
	text-decoration: none;
}

a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #480138;
}

a.footer:hover {
	color: #480138;
	font-size: 105%;
	/*text-decoration: underline;*/
	transition: font-size 0.2s;
	transition-timing-function: ease-out;
}

a:active {

}

/*footer*/

#footer {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

ul.footer {
	display: inline;
	width: 100px;
	list-style-type: none;
	text-align: center;
	font-size: 15px;
}

img.logo {
	width: 20px;
	height: 20px;
	position: absolute;
}

li.footer{
	display: inline;
	width: 100px;
	margin-left: 20px;
	margin-right: 20px;
}

li.extra {
	margin-left: 40px;
}
