@charset "utf-8";
/* CSS Document */

body {
	text-align: center;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	margin: 5em 10em;
	background-color: aliceblue;
		
}